body {
  background: #00000042;
  margin: 0;
}
.container {
  background: #ffffff;
  margin: auto;
  width: 780px;
}
.header {
  border: 2px solid black;
  padding: 45px 0 20px 40px;
}
.menu{
  background: #000000a6;
  padding: 6px 0 6px 40px;
}
.menu a{
  color: #ffffff;
  opacity: 0.5;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
}
.menu a:hover{
  opacity: 1;
}
aside{
  width: 120px;
  float: left;
  padding: 30px 0 0 40px;
}
aside h1{
  color: #9e1e1e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: normal;
  margin: 0;
}
.main{
  margin: 0 0 0 180px;
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px 30px 30px 0;
  line-height: 18px;
  text-align: justify;
}
footer{
  padding: 6px 40px 6px 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 11px;
  background: grey;
  color: #ffffffd1;
}
footer a {
  color: #ffffffd1;
  text-decoration: none;
}