body {
  background: #00000042;
  margin: 0;
}

.link-title {
  text-decoration: none;
  font-size: 24px;
  color: #444444;
}

.container {
  background: #ffffff;
  margin: auto;
  width: 780px;
  box-shadow: 1px 1px 10px 2px;
}

.page-title {
  text-align: center;
  margin-bottom: 20px;
}

.header {
  /* border: 2px solid black; */
  padding: 45px 0 20px 40px;
  margin-top: 15px;
}

.menu{
  background: #337ab7;
  padding: 6px 0 6px 40px;
}

.menu a{
  color: #ffffff;
  opacity: 0.5;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
}

.active {
  opacity: 1 !important;
  font-size: 16px !important;
  font-weight: 700;
}

.menu a:hover{
  opacity: 1;
}

aside{
  width: 120px;
  float: left;
  padding: 30px 0 0 40px;
}

aside h1{
  color: #9e1e1e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: normal;
  margin: 0;
}

.main{
  margin: 0 0 0 180px;
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px 30px 30px 0;
  line-height: 18px;
  text-align: justify;
}

#home-image img {
  width: 100%;
}

footer{
  padding: 6px 40px 6px 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 11px;
  background: grey;
  color: #ffffffd1;
  margin-bottom: 10px;
}

footer a {
  color: #ffffffd1;
  text-decoration: none;
}

.seprator {
  font-size: 11px;
}

/****************************************** About Us Style *****************************************/

#about-us #home-image img {
  width: 55%;
  float: left;
  margin-bottom: 10px;
}

#about-us #profile-info {
  width: 35%;
  margin: 5px;
  float: right;
}

#about-us .discription {
  clear: both;
}

#about-us h2 {
  color: #3e3e45;
}

/***********************************Contact Page*********************************************/
#contact #form {
  width: 500px;
  /* border: 2px solid black; */
  padding: 10px;
  margin: 0 auto;
  box-shadow: 1px 1px 10px 2px;
  border-radius: 5px;
}

#contact #form input {
  width: 100%;
  height: 20px;
  border-radius: 5px;
  background-color: #3c383a42;
}

#contact #form #message {
  width: 100%;
  border-radius: 5px;
  background-color: #3c383a42;
}

#contact #form input#submit {
      height: 30px;
      background-color: #337ab7;
}